.categories-section {
  padding-block: 10rem;
}

.categories-section .categories-title {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--blueColor);
}
.categories-section .categories-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.categories-section .categories-description .categories-description-title {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: bold;
}
.categories-section .categories-description .categories-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.categories-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.categories-buttons .btn img {
  width: 48px;
}
.categories-buttons .btn:hover {
  border: 2px solid black;
}
.categories-section .outer-category {
  overflow: hidden;
}
.categories-section .categories-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-inline: 2rem;
  column-gap: 1.4rem;
}
