:root {
  --blueColor: #2975ff;
  --textColor: #1a202c;
  --icon-background: #f6f7fb;
  --button-green-color: #00cc96;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
body {
  padding-inline: 5rem;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.btn {
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
}
